<style>
.indent {
	margin-left: 25px;
}
.expandable {
	width: 50%;
}
hr {
	margin-top: 0px;
	margin-bottom: 0px;
	position: relative;
	top: -5px;
	width: 50%;
	text-align: left;
  margin-left: 0px;
}
</style>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-header bg-info">
			<button type="button" class="close" ng-click="modal.cancel()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Export Progress</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="inputData" class="col-lg-2 control-label">Data</label>
				<div class="col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="modal.fullname"> Full Name
						</label>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="modal.username"> Username
						</label>
					</div>
					<div>
					<div class="checkbox">
						<label class="col-xs-3">
						  <input type="checkbox" ng-model="modal.hasTimestamp"> Timestamp
						</label>
						<span class="col-xs-9">
							<select ng-show='modal.hasTimestamp' ng-options="item for item in modal.timezones" ng-model="modal.timezone"></select>
						</span>
					</div>
					
					<div class="row">
      <label class="col-sm-2 control-label">Points</label>
      <div class="col-sm-10">
        <div class="radio">
          <label class="col-xs-7">
            <input type="radio" name="points" ng-model="modal.pointValue" value="points">
            Points per Unit
          </label>
          <span class="col-xs-3">
										 <input type="number" ng-model="modal.pointsPerUnit" ng-show="modal.pointValue === 'points'">
									</span>
        </div>
        <div class="radio">
          <label class="col-xs-7">
            <input type="radio" name="points" ng-model="modal.pointValue" value="tasks">
            Points per task
          </label>
          <span class="col-xs-3">
										 <input type="number" ng-model="modal.pointsPerTask" ng-show="modal.pointValue === 'tasks'">
									</span>
        </div>
      </div>
    </div>
					
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="modal.includeCourseProgress"> Include Course Progress Percentage
						</label>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="modal.includeTrackProgress"> Include Track Progress Percentage
						</label>
					</div>
					<div ng-repeat="course in modal.data">
						<label class="expandable" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed">
							<span class="glyphicon glyphicon-chevron-{{isCollapsed ? 'down' : 'right'}}" aria-hidden="true"></span>
							{{course.name}}
							<a class="pull-right" ng-show="isCollapsed" ng-click="modal.toggleCourse(course);$event.stopPropagation()">{{course.toggled ? 'None' : 'All'}}</a>
						</label>
						<hr>
						<div collapse="!isCollapsed" class="indent">
							<div ng-repeat="track in course['tracks']">
								<label class="expandable" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed">
									<span class="glyphicon glyphicon-chevron-{{isCollapsed ? 'down' : 'right'}}" aria-hidden="true"></span>
									{{track.name}}
									<a class="pull-right" ng-show="isCollapsed" ng-click="modal.toggleTrack(course, track);$event.stopPropagation()">{{track.toggled ? 'None' : 'All'}}</a>
								</label>
								<hr>
								<div collapse="!isCollapsed" class="indent">
									<div class="checkbox" ng-repeat="unit in track['units']">
										<label>
											<input type="checkbox" ng-model="unit.toggled" ng-change="modal.unitToggled(course, track)">
											{{unit.name}}
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="button" class="btn btn-default"
						ng-click="modal.cancel()">Cancel</button>
					<button ng-click="modal.generate()" class="btn btn-primary pull-right">{{modal.doneButtonText}}</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>