<style>
.indent {
	margin-left: 25px;
}
</style>
<form class="form-horizontal">
	<fieldset>
		<div class="modal-header bg-info">
			<button type="button" class="close" ng-click="modal.cancel()">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title">Export Progress</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="inputData" class="col-lg-2 control-label">Data</label>
				<div class="col-lg-10">
					<div class="checkbox">
						<label> <input type="checkbox"> Full Name
						</label>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox"> Username
						</label>
					</div>
					<div class="checkbox" ng-init="iosChecked = false">
						<label> <input type="checkbox" ng-model="iosChecked">
							iOS
						</label>
						<div collapse="!iosChecked" ng-init="iosTrackOneChecked = false">
							<div class="checkbox indent">
								<label> <input type="checkbox"
									ng-model="iosTrackOneChecked"> Track 1
								</label>
								<div collapse="!iosTrackOneChecked">
									<div class="checkbox indent">
										<label> <input type="checkbox"> Unit 1
										</label>
									</div>
									<div class="checkbox indent">
										<label> <input type="checkbox"> Unit 2
										</label>
									</div>
								</div>
							</div>
							<div class="checkbox indent">
								<label> <input type="checkbox"> Track 2
								</label>
							</div>
							<div class="checkbox indent">
								<label> <input type="checkbox"> Track 3
								</label>
							</div>
						</div>
					</div>
					<div class="checkbox">
						<label> <input type="checkbox"> Web
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="button" class="btn btn-default"
						ng-click="modal.cancel()">Cancel</button>
					<button type="submit" class="btn btn-primary pull-right">Generate</button>
				</div>
			</div>
		</div>
	</fieldset>
</form>
