

#close-btn {
  position: absolute;
  top: 0;
  left: -20px;
  height:40px;
  width:40px;
  font-size:2em;
  color: white;
}


.img-circle {
	border-radius: 50%;
	background: white;
}


#video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden; }

#video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; }

#theater{
	padding: 10px;
	position: relative;
	background-color: #1b1b1b;
}
