    <!-- Bootstrap core CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    
    <style type="text/css">
    .subtitle {
      font-style:italic;
      font-size:22px;
    }
    .warning {
      color: red;
      font-size:18px;
      margin: 0px;
      padding: 0px;
    }
    .underline {
      font-style:bold;
      text-decoration:underline;
    }
    </style>

    <style type="text/css">
      .logo-r{float: left;}
      .logo-text{float: left; margin-left: 10px;}
    </style>
    
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>