<html lang="en">
  {% include "templates/head.html" %}
  <body>
    <div class="container">
      {% set active_page = "courses" %}
	  {% include 'templates/navbar.html' %}
      <!-- Example row of columns -->
      <div class="row">
          <h2>Courses</h2>
      We currently offer four courses, in various stages of development:
            <ol>
              <li><a href = "/android">Android Application Development (assumes experience with Java programming)</a></li>
              <li><a href = "/web">Web Application Development</a></li>
              <li><a href = "/ios">iOS Application Development</a></li>
              <li><a href = "/me430">Mechatronics (ME430 course using a Microchip PIC)</a></li>
        <!--       <li>Smart Product Design (maybe someday)</a></li>
              <li>CS1 (maybe someday)</a></li> -->
            </ol>
      </div>

      {% else %}
        <div class="jumbotron"><a href="{{ login_url }}" class="btn btn-lg btn-success">Sign in with Google</a></div>
      {% endif %}
      </div>







      <!-- Site footer -->
      <div class="footer">
        <p>Made by students, faculty, and staff in the <a href="http://www.rose-hulman.edu/robotics">Multidiciplinary Minor in Robotics</a> available at <a href="http://www.rose-hulman.edu">Rose-Hulman</a></p>
      </div>

    </div> <!-- /container -->

    {% include "templates/load_scripts.html" %}
</body></html>