<html lang="en">
  {% include "templates/head.html" %}
  <body>
   
   {% set active_page = "home" %}
   {% include 'templates/navbar.html' %}
   <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>ROSEbotics</h1>
        <h2 class="warning">This site is very much in a BETA stage. :)</h2>
        <blockquote style="text-align: left;"><b>Note from the program directors:</b> We'll post material as soon as it becomes available during the beta phase of the program.  The only functional link above is the Courses page.  We have complete iOS, Android, and Web Development courses.  We are still missing robotics content and "getting started with programming" content.  We only have the upper level iOS, Android, and Web stuff finished.</blockquote>
        <h2 class="subtitle">Smart Product Design, Software Engineering, and Entrepreneurial Opportunity</h2>
        <div style="margin: 20px;"><img width="70%" src="/static/images/fisher_mutchler.jpg" alt="Rose-Hulman professors"></div>
        <p class="lead">ROSEbotics is a freely available, online series of <b>courses</b>, an annual robotics <b>competition</b>, and a <b>platform</b> to inspire innovation and entrepreneurial opportunity.  Courses are based on content developed by faculty at <a href="http://www.rose-hulman.edu">Rose-Hulman</a> with Rose-Hulman alumni as the target audience.</p>
        <p><a class="btn btn-lg btn-success" href="https://docs.google.com/forms/d/1XzB4Q5XZL_HbSQk_L1TJJtc2dKHxKVSfQhYSztqvMw0/viewform" role="button">Sign up for future announcements</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Courses</h2>
		<p>Visit our <b>series of courses</b> to see what ROSEbotics offers. Currently, we have a complete course in <b>Android development</b>, <b>Web development</b>, and </b>iOS development</b>.  New content is added every day.
<!--  The next sentence will be true once all the course material is created. -->
<!-- 		The courses are designed for Rose-Hulman alumni from any major so they assume no prior knowledge in programming if you start at the beginning.  The courses build on one another beginning with Python, moving into Arduino, and then finishing with iOS and Android integration for your robots!  Coming by the summer of 2015.</p> -->
          <p><a class="btn btn-primary" href="/courses" role="button">View details</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Competition</h2>
          <p>There is an <b>annual competition</b> planned to take place at Rose-Hulman Homecoming beginning the Homecoming 2015.  The competition will be available only to Rose-Hulman students, alumni, and their families.  This is a great way to get your kids excited about robotics.</p>
          <p><a class="btn btn-primary" href="/competition" role="button">View details</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Platform</h2>
          <p>Both the <b>courses</b> and the <b>competition</b> make use of the ROSEbotics <b>platform</b>.  The platform will update every few years, but the current platform uses a <a href="http://www.dfrobot.com/index.php?route=product/product&filter_name=bluno%20nano&product_id=1122#.U2EwMvldV8E">Bluno Nano</a>, <a href="http://www.pololu.com/product/1551">Rover 5 tank base</a>, and <a href="http://www.dagurobot.com/search.php?encode=YToyOntzOjg6ImtleXdvcmRzIjtzOjg6ImV4cGxvcmVyIjtzOjE4OiJzZWFyY2hfZW5jb2RlX3RpbWUiO2k6MTM5ODg3ODMzMzt9">Explorer PCB kit</a>.  The next generation will likely use an Intel Edison and MiniQ. The Rosebotics platform will be available as soon as possible :) (no promises on a date at present).</p>
          <p><a class="btn btn-primary" href="/platform" role="button">View details</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <div class="footer">
        <p>This site has been made possible by the students, faculty, and staff of the <a href="http://www.rose-hulman.edu/robotics">Multidiciplinary Minor in Robotics</a> available at <a href="http://www.rose-hulman.edu">Rose-Hulman</a></p>
      </div>


    </div> <!-- /container -->


  {% include "templates/load_scripts.html" %}
</body></html>