{% extends 'templates/base.html' %}
{% block content %}
      <!-- Example row of columns -->
      <div class="row">
          <h2>Tracks</h2>
			The iOS development course consist of the following tracks (expected to be taken in this order)
          	<ol>
			<li><a href = "/ios-swift-intro">iOS development - A 'Swift' Introduction to iOS Development</a></li>
			<li><a href = "/ios-core-data">iOS development - Table based navigation using Core Data</a></li>
			<li><a href = "/ios-endpoints">iOS development - Backend integration with Google Cloud Endpoints</a></li>
			</ol>
      </div>

		<!-- 16:9 aspect ratio -->
		<hr>
		<p>There is no official course intro video yet.  Here are two placehold psuedo intros until I make a better intro video.</p>
		<br>
		<h2>About me and why you might choose iOS</h2>
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QkqFEciBQuw"></iframe>
		</div>
		<br>
		<h2>My short iOS Journey</h2>
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/VaYgoMZs2zs"></iframe>
		</div>

{% endblock %}