{% if rosebotics_student %}
  <div class="text-right rosebotics-name">Your name | <a data-toggle="modal" data-target="#confirm-signout-modal" href="#">Sign out</a></div>

 {% import 'templates/macros.html' as macros %}

{% call macros.render_dialog(id='confirm-signout-modal', title='Confirm Sign Out', action_name='Sign Out', action_url=logout_url) %}
     <p>This will sign you out of all sites that you have open that use the same Google sign in.</p>
     <p>To only stop using ROSEbotics, click Cancel and close the ROSEbotics tab.</p>
{% endcall %}

{% endif %}


