<span class="lead">
Welcome to ROSEbotics Teams!
</span>
<p>
Teams is a place where you can create study groups and monitor others progress within the courses on the website. 
</p>
<p>
In order to see if you've been invited to any teams, click on the <a href="#/invites">invites</a> tab. 
Here you can see what teams you've been invited to join, then give authorization to allow your progress to 
be reported. 
</p>
<p>
To see team members' progress, go to the <a href="#/teams">teams</a> page. If you'd like to create a team, 
you can manage your own teams from the <a href="#/manage">manage</a> page.
</p>
<p>
Happy learning!
</p>