<div class="row">
	<ul class="breadcrumb">
		<li><a href="#/teams/">Teams</a></li>
		<li><a href="#/teams/{{tracks.team.team_key}}/courses">{{tracks.team.name}}</a></li>
		<li class="active">{{tracks.course}}</li>
	</ul>
	<h4>{{tracks.course}}</h4>&#8212; <team-title team="tracks.team"></team-title>
	<button type="submit" class="btn btn-primary pull-right" ng-click="courses.toggleExportProgressModal()">Export</button>
</div>
<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th ng-repeat="track in tracks.tracks">
				<a href="#/teams/{{tracks.team.team_key}}/courses/{{tracks.course}}/tracks/{{track}}/units">{{track}}</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="member in tracks.team.members_progress">
			<td>{{member.display_name}}</td>
			<td>{{member.username}}</td>
			<td ng-repeat="track in tracks.tracks">
				{{tracks.getProgressForMemberTrack(member, $index)| percentage:2}}
			</td>
		</tr>
	</tbody>
</table>
