{% extends 'templates/base.html' %}
{% block content %}
      <!-- Example row of columns -->
      <div class="row">
          <h2>Tracks</h2>
			The Android development course consists of the following tracks (expected to be taken in this order)
          	<ol>
			<li><a href = "/android-ui">Android development - Building UIs using Android</a></li>
			<li><a href = "/android-sqlite">Android development - Table based navigation using SQLite</a></li>
			<li><a href = "/android-endpoints">Android development - Backend integration with Google Cloud Endpoints</a></li>
			</ol>
      </div>

		<!-- 16:9 aspect ratio -->
		<hr>
<!-- 		<h2>About me and why you might choose iOS</h2>
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/QkqFEciBQuw"></iframe>
		</div>
 -->
	
{% endblock %}