{% extends 'templates/base.html' %} {% block content %}
<script>
var currentCourseColor = "{{course.color}}";
var currentCoursePercent = {{progress['course']}};
var currentCourseTrackPercentages = [
{% for track in progress.tracks %}
{{track['track']}},
{% endfor %}
];
</script>
<div id="theater" class="hidden row">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <a id="close-btn"> <span
        class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </a>
      <div id="video-container">
        <iframe
          src="https://www.youtube.com/embed/{{course.video_id}}?rel=0&amp;showinfo=0"
          frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-2"></div>


    </div>
  </div>
</div>

<div class="header row">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="pos-relative">
          <div id='course-progress-container'></div>
          <img src="/static/images/logos/{{course.prefix}}logo.png" class="img-responsive img-circle" alt="Responsive image">
          <h2 id="current-progress-percentage"> 0% </h2>
        </div>
          <div class="center-me" id="current-course-descrp">
          <h4>{{course.formal_title}}</h4>
          {% if recent_tracks[course.prefix] %}
            <a class="btn btn-default resume-btn" href="{{ recent_tracks[course.prefix].path }}">
              <span class="glyphicon glyphicon-pause resume-icon" aria-hidden="true"></span>Resume</a>
          {% else %}
            <a href="{{progress.tracks[0]['url']}}" class="btn btn-default start-course-bstn">Start</a>
          {% endif %}
          </div>
      </div>
      <div class="col-md-6 col-sm-8 col-xs-12">
        <h4>{{course.formal_title}}</h4>
        <p>{{course.description}}</p>
        <a class="btn btn-default" id="video-btn"> <span
          class="glyphicon glyphicon-play-circle" aria-hidden="true"></span>
          Watch course intro video
        </a>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <h5>Course Overview</h5>
        <p>The {{course.short_title}} course consists of these tracks. They are
          expected to be taken in this order but there is flexibility on
          that.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        {% for track in progress.tracks %}
        <ul class="list-group">
          <li class="list-group-item btn btn-default row">
          <a href="{{track['url']}}">
          <div class="track-text col-xs-3">{{track.name}}</div>
            <div class="track-progress course-page col-xs-8" id='track-progress-container{{loop.index}}'></div>
            <div class='start-track-btn col-xs-1'>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          </div>
        </a>
        </li>
          <li class="list-group-item row">{{track.blurb}}</li>
        </ul>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
