{% extends 'templates/base.html' %}
{% block content %}
<div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Rosebotics</h1>
        <h2 class="warning">This site is very much in a BETA stage.</h2>
        <blockquote style="text-align: left;"><b>Note from the program directors:</b> We'll post material as soon as it becomes available during the beta phase of the program.  The only functional link above is the Courses page.  We have complete iOS, Android, and Web Development courses.  We are still missing robotics content and "getting started with programming" content.  We only have the upper level iOS, Android, and Web stuff finished.</blockquote>
        <h2 class="subtitle">Smart Product Design, Software Engineering, and Entrepreneurial Opportunity</h2>
        <div style="margin: 20px;"><img width="70%" src="/static/images/fisher_mutchler.jpg" alt="Rose-Hulman professors"></div>
        <p class="lead">Rosebotics is a freely available, online series of <b>courses</b>, an annual robotics <b>competition</b>, and a <b>platform</b> to inspire innovation and entrepreneurial opportunity.  Courses are based on content developed by faculty at <a href="http://www.rose-hulman.edu">Rose-Hulman</a> with Rose-Hulman alumni as the target audience.</p>
        <p><a class="btn btn-lg btn-success" href="https://docs.google.com/forms/d/1XzB4Q5XZL_HbSQk_L1TJJtc2dKHxKVSfQhYSztqvMw0/viewform" role="button">Sign up for future announcements</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Courses</h2>
    <p>Visit our <b>series of courses</b> to see what Rosebotics offers. Currently, we have a complete course in <b>Android development</b>, <b>Web development</b>, and </b>iOS development</b>.  New content is added every day.
<!--  The next sentence will be true once all the course material is created. -->
<!-- 		The courses are designed for Rose-Hulman alumni from any major so they assume no prior knowledge in programming if you start at the beginning.  The courses build on one another beginning with Python, moving into Arduino, and then finishing with iOS and Android integration for your robots!  Coming by the summer of 2015.</p> -->
          <p><a class="btn btn-primary" href="/courses" role="button">View details</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Competition</h2>
          <p>There is an <b>annual competition</b> planned to take place at Rose-Hulman Homecoming beginning the Homecoming 2015.  The competition will be available only to Rose-Hulman students, alumni, and their families.  This is a great way to get your kids excited about robotics.</p>
          <p><a class="btn btn-primary" href="/competition" role="button">View details</a></p>
       </div>
        <div class="col-lg-4">
          <h2>RoseBot</h2>
          <p>Both the <b>courses</b> and the <b>competition</b> make use of the RoseBot <b>platform</b>.  The platform uses the SparkFun RedBot as the base platform.  The RedBot comes with a bunch of sensors already included, such as: bump sensors, wheel encoders and line following sensors.   In addition to the RedBot, the Rosebot platform adds some peripherals, a wireless communication mechanism, and a software stack to support the C, Python, and Scratch programming languages.</p>
          <p><a class="btn btn-primary" href="/platform" role="button">View details</a></p>
        </div>
      </div>

</div>
{% endblock %}
