{% extends 'templates/base.html' %}
{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h2>Tracks</h2>
      The ME430 Mechatronics course consist of the following tracks:
            <ol>
      <li><a href = "/me430-electronics">ME430 - Electronics</a></li>
      <li><a href = "/me430-pic">ME430 - Microchip PIC programming</a></li>
      <li><a href = "/me430-plc-fsm">ME430 - PLCs and Finite State Machines</a></li>
      </ol>
      </div>
</div>
{% endblock %}
