<div id="theater" class="hidden row">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<a id="close-btn"> <span
				class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</a>
			<div id="video-container">
				<iframe
					src="https://www.youtube.com/embed/0TjxnrWT8Es?rel=0&amp;showinfo=0"
					frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="col-md-2"></div>


		</div>
	</div>
</div>

<div class="header">
<div class="container">
<h3> </h3>
<h4> Courses </h4>
<p> Programming course materials created by faculty at Rose-Hulman Institute of Technology, a top ranked engineering college. We currently offer four courses, each with full online video lessons and coding projects. More courses are on the way, stay tuned!</p>
<a class="btn btn-default" id="video-btn">
  <span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Watch Video to Learn More</a>
</div>
</div>


<div class="container">

	<div class="row row-eq-height xs">
{% for course in courses %}
		{% if not loop.first and loop.index0 is divisibleby 4 %}
		 </div>
			<div class="row row-eq-height xs">
		{% endif %}
		<div class="col-xs-8 col-xs-offset-2 col-sm-3 panel panel-default">
			<div class='panel-body'>
				<img class="img-responsive" src="/static/images/logos/{{course.prefix}}logo.png">
				<h6>{{course.formal_title}}</h6>
				<p>{{course.description}}</p>
				{% if not course.coming_soon %}
				<a href="{{login[course.prefix]}}" class="btn btn-default start-course">Sign Up
				<span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				{% else %}
				<a class="btn btn-default start-course">Coming Soon
				{% endif %} 
				</a>
			</div>
		</div>
{% endfor %}
		
		
	</div>


