<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>ROSEbotics Teams</title>
<!-- CSS Styles --> 
<link href="/static/dist/css/rosebotics.min.css" rel="stylesheet">
<link href="/static/dist/teams/css/app.min.css" rel="stylesheet">
<!-- JS Files -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
<script src="/static/dist/teams/js/app.min.js"></script>
<!-- Endpoints Library, call the init function when it's done loading -->
<script src="//apis.google.com/js/client.js?onload=init"></script>
</head>
<body ng-init="userEmail = '{{rosebotics_student.key.string_id()}}'">
	{% include 'templates/views/common/angular_navbar.html' %}
	{# http://jinja.pocoo.org/docs/dev/templates/#escaping #}
	{% raw %}
	<div class="container hidden" style="margin-top: 20px;">
		<div class="row">
			<div class="col-sm-3 col-md-2" ng-controller="SidebarCtrl as sidebar">
				<section class="list-group" ng-show="sidebar.show">
	        <a ng-repeat="route in sidebar.routes"  
	        		href="{{ route.href }}" 
	        		class="list-group-item" 
	        		ng-class="{active: sidebar.isActive(route.href)}">
	    			{{ route.name }}
	  			</a>
	       </section>
       </div>
       <section class="col-sm-9 col-md-10" ng-init="isRouteLoading = false">
	        <div ng-view ng-show="!isRouteLoading"></div>
	        <route-loading-indicator ng-show="isRouteLoading" />
       </section>
		</div>	
		<div class="footer">
			<p>
				This site has been made possible by the students, faculty, and staff of the 
				<a href="http://www.rose-hulman.edu/robotics">Multidiciplinary Minor in Robotics</a>
				available at <a href="http://www.rose-hulman.edu">Rose-Hulman</a>
			</p>
		</div>
	</div>
	{% endraw %}
	<div class="spinner">
		<div class="spinner-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="spinner-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<h1>Loading...</h1>
	</div>
<div class="snackbar-container" data-snackbar="true"></div>
</body>
</html>