{% extends 'templates/base.html' %}
{% block content %}
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
          <h2>Tracks</h2>
			The Web development course consist of the following tracks (expected to be taken in this order, but there is some flexibility on that)
          	<ol>
			<li><a href = "/web-appengine">Web development - AppEngine Track</a></li>
			<li><a href = "/web-css">Web development - CSS Track</a></li>
			<li><a href = "/web-js">Web development - JavaScript Track</a></li>
      <!-- <li><a href = "/web-endpoints">Web development - Endpoints, Angular, Ajax Track</a> (Coming someday)</li>  -->
			</ol>
      </div>
	<!-- 
      <div>Overall progress = {{progress.course}}</div>
      <ol>
	    {% for track in progress.tracks %}
	      <li>Track = {{track}}</li>
	    {% endfor %}
      </ol>
 	-->
		<!-- 16:9 aspect ratio -->
		<div class="embed-responsive embed-responsive-16by9">
		  <iframe class="embed-responsive-item" src="//www.youtube.com/embed/PLN-oI858ZA"></iframe>
		</div>
</div>
{% endblock %}