#sign-in-btn{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 13px;
}

.navbar {
  font-family: "brandon-grotesque", sans-serif;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
	position: relative;
}

.logo-r {
	float: left;
	position: absolute;
  	top: 50%;
  	transform: translate(0, -50%);
}

