.subtitle {
	font-style: italic;
	font-size: 22px;
}

.warning {
	color: red;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
}

.underline {
	font-style: bold;
	text-decoration: underline;
}

.required-asterisk {
	color: #F00;
}

input.with-help {
	width: 95%;
	margin-bottom: 0px;
}

textarea.with-help {
	resize: none;
	width: 95%;
	margin-bottom: 0px;
}

textarea.with-help + .help-icon {
	top: -45px;
}

input.with-help + .help-icon {
	top: -24px;
}

input[type="radio"]+label {
	display: inline;
}

.header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  background-color: #eee;
}

.navbar {
      font-family: "brandon-grotesque", sans-serif;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 0px;
 }